[submodule "ext/zsh-syntax-highlighting"]
	path = ext/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "ext/gdb-dashboard"]
	path = ext/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "ext/i3blocks"]
	path = ext/i3blocks
	url = https://github.com/vivien/i3blocks-contrib
[submodule "ext/dotfiles-secret"]
	path = ext/dotfiles-secret
	url = git@github.com:kbieganski/dotfiles-secret
    branch = main
[submodule "ext/jost"]
	path = ext/jost
	url = https://aur.archlinux.org/jost-font.git
[submodule "ext/rr"]
	path = ext/aur/rr
	url = https://aur.archlinux.org/rr.git
[submodule "ext/i3lock-color"]
	path = ext/aur/i3lock-color
	url = https://aur.archlinux.org/i3lock-color.git
[submodule "ext/aur/jost-font"]
	path = ext/aur/jost-font
	url = https://aur.archlinux.org/jost-font.git
