[Desktop Entry]
Name=kitty URL Launcher
Type=Application
Icon=kitty
StartupNotify=true
TryExec=kitty --single-instance
Exec=kitty --single-instance +open %U
Categories=System;TerminalEmulator;
NoDisplay=true
MimeType=image/*;application/x-sh;application/x-shellscript;inode/directory;text/*;x-scheme-handler/kitty;x-scheme-handler/ssh;
