[Unit]
Description=rclone bisync for Dropbox
Wants=network-online.target
After=network-online.target
OnFailure=dropbox-resync.service

[Service]
Type=oneshot
ExecStart=rclone bisync dropbox: {{DROPBOX_DIR}}

[Install]
WantedBy=default.target
