[Unit]
Description=Emacs daemon

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(evil-quit-all-with-error-code)"
Restart=on-failure

[Install]
WantedBy=default.target
