[Unit]
Description=rclone mount for Google Drive
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=rclone sync google-drive: {{GOOGLE_DRIVE_DIR}} --allow-non-empty --vfs-cache-mode full

[Install]
WantedBy=default.target
