[Unit]
Description=Updates IP address in a file stored in the cloud
After=google-drive.service dropbox.service

[Service]
Type=oneshot
ExecStart=/bin/sh MASK_DOTFILES_DIR/ip-update.sh MASK_GOOGLE_DRIVE_DIR MASK_DROPBOX_DIR
